* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

ul {
    height: fit-content;
    margin-bottom: 0px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.18);
}

a {
    text-decoration: none;
}

li {
    user-select: none;
    list-style: none;
}

li:hover {

    cursor: pointer;
}

a {
    text-decoration: none;
}

.btn-user {
    display: flex;
    color: #909090;
}

.custom-ul {}

@media(max-width: 991px) {
    .btn-user {
        display: none;
    }

    .custom-ul {
        display: flex
    }

}


.main-container {
    height: 90vh;
}




.btn-add:hover {
    cursor: pointer;
}

h1 {}



.img-top {
    height: 100%;
    max-width: 150px;
}

.form-top {
    display: none;
}

/* Images inside container */
.img {
    width: 100px;
    height: 100px;
    margin: 5px;
    user-select: none;
}

.img_wearing {
    width: 110px;
}


.img-preview {
    width: 100%;
    height: 200px;
}



.img-teste {
    max-width: 100%;
    height: 127px;
    user-select: none;
}


.displayed_img {
    width: 100%;
    height: 100%;
}

.bg-dark-brighter {
    background-color: rgb(20, 20, 20);
}



.custom-file-button[type=file] {
    margin-left: -2px !important;
}

.custom-file-button[type=file]::-webkit-file-upload-button {
    display: none;
}

.custom-file-button[type=file]::file-selector-button {
    display: none;
}

.custom-file-button:hover label {
    cursor: pointer;
}





.img-suggestion {
    max-width: 150px;
    max-height: 127px;

}






.no-focus-border:focus {
    outline: none;
    box-shadow: none;
    border-color: none;
    /* or specify another color */
}



.container-background-img {
    background-image: url('../images/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
}
.mobile-container{
    display:flex;
}   

.container-mobile-links {
    display: flex;
    flex-direction: column;
}

@media(min-width: 991px) {

    .container-mobile-links {
                display: none;
                flex-direction: column;
    }



}

@media(max-width: 991px) {

    .mobile-container{
        display: none;
    }   

}